{{ define "main" }}

    {{- with .Params.publishedOn }}
    {{- $url := urls.Parse . }}
    <aside class="post-published">
        <p>This post was originally published on <a href="{{ . }}" target="_blank">{{ $url.Host }}</a> on {{ $.Date.Format $.Site.Params.dateFormats.publishedOn }}</p>
    </aside>
    {{- end  }}

    <article>
        <header>
            <h1>{{ .Title }}</h1>
            {{ partial "post_metadata.html" . }}
        </header>

        {{ .Content }}
    </article>

    {{- with .Params.series }}
    {{- $siteSeries := $.Site.Taxonomies.series }}
    {{- range $serieName := . }}
        {{- $serieKey := $serieName | urlize }}
        {{- $series := index $siteSeries $serieKey }}
    <nav aria-label="Posts in series">
        <h4>Posts in <a href="{{ $.Site.BaseURL }}series/{{ $serieKey }}">{{ $serieName }}</a> series</h4>
        <ul>
            {{- range $series.Pages.Reverse }}
            <li><a href="{{ .Permalink }}">{{ .Title }}</a></li>
            {{- end }}
        </ul>
    </nav>
        {{- end }}
    {{- end }}

    {{- $related := .Site.RegularPages.Related . | first 5 }}
    {{- with $related }}
    <nav aria-label="Related posts">
        <h4>Related Posts</h4>
        <ul>
            {{- range . }}
            <li><a href="{{ .Permalink }}">{{ .Title }}</a></li>
            {{- end }}
        </ul>
    </nav>
    {{- end }}

    <nav class="pure-g post-previous-next" aria-label="Previous and next posts">
        <div class="pure-u-11-24 previous">
            {{- with .PrevInSection }}
            <a href="{{ .Permalink }}" aria-label="Previous post"><span aria-hidden="true">{{ partial "feathericons/chevron-left.svg" }}</span></a>
            <a href="{{ .Permalink }}">{{ .Title }}</a>
            {{- end }}
        </div>
        <div class="pure-u-2-24">&nbsp;</div>
        <div class="pure-u-11-24 next">
            {{- with .NextInSection }}
            <a href="{{ .Permalink }}">{{ .Title }}</a>
            <a href="{{ .Permalink }}" aria-label="Next post"><span aria-hidden="true">{{ partial "feathericons/chevron-right.svg" }}</span></a>
            {{- end }}
        </div>
    </nav>

    {{ partial "disqus.html" . }}

{{ end }}