{{ define "main" }}

    <article>
        <header>
            <h1>Posts about {{ .Title }}</h1>
        </header>

        {{ range .Data.Pages.GroupByDate "2006" }}
        <section aria-label="{{ .Key }}">
            <h2>{{ .Key }} ({{ len (.Pages) }})</h2>
            <ul class="styleless">
                {{- range .Pages }}
                <li>
                    <span class="taxonomy-page-time">{{ .Date.Format "02 Jan" }} &Colon; </span>
                    <a href="{{ .Permalink }}">{{ .Title }}</a>
                </li>
                {{- end }}
            </ul>
        </section>
        {{ end }}
    </article>

{{ end }}